body {
    background-color: #f0f0f0;
    text-align: center;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #3498db;
    color: white;
    border: none;
}

button:hover {
    background-color: #2c80b4;
    cursor: pointer;
}

.contenedor {
    background-color: white;
    width: 450px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}   
    
img {
    border-radius: 50%;
    margin-top: 15px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 0;
    color: #666;
    font-size: 16px;
}

p {
    font-size: 14px;
    line-height: 1.5;
}
